<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/spotify/static/home.css">
    <title>Spotify Sorter</title>
</head>
<body>
    <section class="general-grid">
        <div class="presentation">
            <img src="/spotify/static/file-spotify-logo-png-4.png" alt="">
            <h1> Spotify <br> Song Sorter </h1>
        </div>
        <div class="start-button">
            <p> Want to sort your music?  </p>
            <button class="button" onclick="window.location.href='/spotify/start';">
                CLICK HERE
            </button>
        </div>
    </section>
    <!-- <a href="/start">click to sort</a> -->
    
</body>
</html>
